@page
@model CozyBean.Pages.Shared.AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="container-fluid p-0">
    <div class="row p-0">
        <div class="col-12 col-sm-6 p-0">
            <img src="~/Content/about.png" class="image-fit" />
        </div>
        <div class="col-12 col-sm-6 padded-text">
            <h2>We are Community Oriented</h2>
            <p>The Cozy Bean is a brand of food and beverage from Toronto, Canada. It was founded by a group of 5 young coffee enthusiasts on November 2nd, 2021. They started the business together in a modest rented building located in the heart of downtown Toronto, at the intersection of Queens St. West and Bathurst St.</p>
            <p>The Cozy Bean comes from the idea that everyone can enjoy coffee. It doesn’t matter if you like your coffee light and sweet or prefer strong coffee with no sugar; you can always enjoy your coffee with your personal preferences. It’s also a warm and friendly environment that provides an excellent atmosphere to enjoy a great cup of coffee or sandwich, hang with friends or do a bit of work, or simply enjoy live music from great local bands.</p>
        </div>
    </div>
    <div class="row p-0">
        <div class="col-12 col-sm-6 padded-text off-white order-last order-lg-first">
            <h2>We Support Live Performance</h2>
            <p class="mb-5">To acquire a better connection with our community, we create an opportunity to do so with our live performance hours. Every Friday between 8 to 10 pm the stage is reserved for talented musicians. Every Sunday night we invite comedians to the stage to give our customers a fantastic Sunday’s night out!</p>
            <p class="mb-5">Our talented performers’ repertoires include cover versions of the best hits as well as their own compositions. We’re located at 655 Queen St. West, if you are nearby, come and grab your drink and enjoy the great shows.</p>
            <h3>Upcoming Shows</h3>
            <table>
                <tr>
                    <td>Fri January 7th:</td>
                    <td>Computer Wife</td>
                </tr>
                <tr>
                    <td>Fri January 14th:</td>
                    <td>Men I Trust</td>
                </tr>
                <tr>
                    <td>Fri January 21st:</td>
                    <td>Duster</td>
                </tr>
                <tr>
                    <td>Fri January 28th:</td>
                    <td>Horse Jumper of Love</td>
                </tr>
                <tr>
                    <td>Fri February 4th:</td>
                    <td>Yves Tumor</td>
                </tr>
                <tr>
                    <td>Fri February 11th:</td>
                    <td>Alex G</td>
                </tr>
                <tr>
                    <td>Fri February 18th:</td>
                    <td>Dijon</td>
                </tr>
            </table>
        </div>
        <div class="col-12 col-sm-6 p-0">
            <img src="~/Content/drumming.png" class="image-fit" />
        </div>
    </div>
    <div class="row p-0">
        <div class="col-12 col-sm-6 p-0">
            <img src="~/Content/ourkitchen.png" class="image-fit" />
        </div>
        <div class="col-12 col-sm-6 padded-text">
            <h2>Come In and See for Yourself</h2>
            <p>It's time to discover unique tastes and make vivid memories!</p>
            <p>As real experts in the field of delicious coffee, we prove that it does not have to be expensive. We use premium coffee beans, which makes our coffee aromatic and rich.</p>
            <p>Fast service and a pleasant atmosphere make a coffee shop the perfect place for a small snack in the city with a fast pace of life. If you are in a hurry and don’t want to wait in line, it’s convenient for you to grab food through our online order option.</p>
            <p>Cozy Bean Cafe offers a high-quality menu with very reasonable prices. We prepare each drink and dish ourselves and use only fresh products. Our goal is to make your break delicious and enjoyable. </p>
        </div>
    </div>
</div>