@page
@model CozyBean.Pages.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}
<div class="container">

</div>
<div class="container">
    <table id="price-summary">
    </table>
    <a href="#" class="button" id="finalize-order">Order</a>
</div>