@page
@model CozyBean.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12 col-sm-6 padded-text">
            <h1>Contact Us</h1>
            <p>contact@cozybean.com</p>
            <p><a href="tel:+1416-123-4567" class="phone">416-123-4567</a></p>
            <a href="https://www.google.com/maps?ll=43.647197,-79.403981&z=18&t=m&hl=en&gl=CA&mapclient=embed&q=Queen+St+W+%26+Bathurst+St+Toronto,+ON+M5V+2B7"><p>655 QUEEN STREET W</p></a>
            <ul class="socialmedia">
                <li><a href="#"><img src="~/Content/facebookiconyellow.png" class="social-icon" /></a></li>
                <li><a href="#"><img src="~/Content/instagramiconyellow.png" class="social-icon" /></a></li>
                <li><a href="#"><img src="~/Content/twittericonyellow.png" class="social-icon" /></a></li>
                <li><a href="#"><img src="~/Content/tiktokiconyellow.png" class="social-icon" /></a></li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 p-0">
            <img src="~/Content/comedians.png" class="image-fit" />
        </div>
    </div>
</div>