@page
@model CozyBean.Pages.EntertainmentModel
@{
    ViewData["Title"] = "Entertainment";
}
<div class="container-fluid p-0">
    <div class="row p-0">
        <div id="stage-image" class="col-12 p-0">
            <img src="~/Content/cozybeanlogotext.png" alt="Live music" id="stage-logo-overlay" />
        </div>
    </div>
    <div class="row p-0 justify-content-center">
        <div class="col-1 col-lg-4">
            <img src="~/Content/cozybeanlogo.png" alt="Cozy Bean" class="image-fit schedule-bean" />
        </div>
        <div class="col-10 col-lg-4 pt-5 pb-5">
            <h2>We Have Live Entertainment</h2>
            <h3>Current Schedule</h3>
            <table id="schedule-table">
                <tr>
                    <td>Jan 7</td>
                    <td><strong>Men I Trust</strong></td>
                    <td>8:00pm - 10:00pm</td>
                </tr>
                <tr>
                    <td>Jan 14</td>
                    <td><strong>Computer Wife</strong></td>
                    <td>8:00pm - 10:00pm</td>
                </tr>
                <tr>
                    <td>Jan 21</td>
                    <td><strong>Duster</strong></td>
                    <td>8:00pm - 10:00pm</td>
                </tr>
                <tr>
                    <td>Jan 28</td>
                    <td><strong>Horse Jumper of Love</strong></td>
                    <td>8:00pm - 10:00pm</td>
                </tr>
                <tr>
                    <td>Feb 4</td>
                    <td><strong>Yves Tumor</strong></td>
                    <td>8:00pm - 10:00pm</td>
                </tr>
                <tr>
                    <td>Feb 11</td>
                    <td><strong>Alex G</strong></td>
                    <td>8:00pm - 10:00pm</td>
                </tr>
                <tr>
                    <td>Feb 18</td>
                    <td><strong>Dijon</strong></td>
                    <td>8:00pm - 10:00pm</td>
                </tr>
            </table>
        </div>
        <div class="col-1 col-lg-4">
            <img src="~/Content/cozybeanlogoreverse.png" alt="Cozy Bean" class="image-fit schedule-bean" />
        </div>
    </div>
    <div class="row p-0">
        <div class="col-12 col-sm-6 p-0">
            <img src="~/Content/livemusic.png" alt="Live Music" class="image-fit" />
        </div>
        <div class="col-12 col-sm-6 padded-text off-white">
            <h2>We Have Live Music</h2>
            <p>One signature difference that makes us unique when compared to other coffee shops is our live entertainment every month. We cover everything from live music to comedy which we hope will please every guest that comes to Cozy Bean Coffee. Whether hot or cold weather, the Cozy Bean Cafe is a safe place for every soul out there to go and enjoy the entertainment that we bring to you. The Cozy Bean Cafe is not a regular coffee shop, and it is a place to slow your pace down a bit in this busy big city. </p>
        </div>
    </div>
    <div class="row p-0">
        <div class="col-12 col-sm-6 padded-text order-last order-lg-first">
            <h2>Comedy Night Sundays</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit placerat arcu et porta. Phasellus pretium eleifend turpis vitae viverra. Proin vehicula augue massa, eget facilisis est interdum ac.</p>
        </div>
        <div class="col-12 col-sm-6 p-0">
            <img src="~/Content/comedians.png" alt="Store front and employees" class="image-fit" />
        </div>
    </div>
    <div class="row p-0">
        <div class="col-12 col-sm-6 p-0">
            <img src="~/Content/resizedfriends.png" alt="Live Music" class="image-fit" />
        </div>
        <div class="col-12 col-sm-6 padded-text off-white">
            <h2>We Have Live Music on Friday</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>