@page
@model CozyBean.Pages.LocationModel
@{
    ViewData["Title"] = "Location";
}
<div class="container-fluid p-0">
    <div class="row p-0">
        <div class="col-12 col-sm-6 padded-text">
            <h3>Come In and Say Hi</h3>
            <h2>655 QUEEN ST W</h2>
            <p>We are located at the intersection of Bathurst & Queen</p>
            <h3>Store Hours</h3>
            <p>Weekdays: 9:00am - 8:00pm</p>
            <p>Weekends: 8:00am - 10:00pm</p>
            <h3>Telephone</h3>
            <p><a href="tel:+1416-123-4567" class="phone">416-123-4567</a></p>
        </div>
        <div class="col-12 col-sm-6 p-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d721.7616728431046!2d-79.4045280707757!3d43.64719689869511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34e74661d865%3A0x27f90593d0522340!2sQueen%20St%20W%20%26%20Bathurst%20St%2C%20Toronto%2C%20ON%20M5V%202B7!5e0!3m2!1sen!2sca!4v1637692945509!5m2!1sen!2sca" class="image-fit" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>