@page "/Menu/{category}"
@model CozyBean.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 food-menu">
        <div class="container">
            <div class="row">
                <div class="col-4 text-center"><a href="drinkmenu.html" class="button menu-option">Drinks</a></div>
                <div class="col-4 text-center"><a href="foodmenu.html" class="button menu-option">Food</a></div>
                <div class="col-4 text-center"><a href="mealmenu.html" class="button menu-option">Meals</a></div>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
<select name="menu-dropdown" id="menu-dropdown">
    <option value="hot-coffee-container">Hot Coffee</option>
    <option value="hot-tea-container">Hot Tea</option>
    <option value="hot-drinks-container">Other Hot Drinks</option>
    <option value="cold-coffee-container">Cold Coffee</option>
    <option value="cold-tea-container">Cold Tea</option>
    <option value="cold-drinks-container">Other Cold Drinks</option>
</select>
<div class="row">
    <div class="col-3">
        <div id="menu-contents">
            <h2>Drink Types</h2>
            <ul>
                <li><a class="menu-button" asp-page="Menu" asp-route-category="popular" id="popular-drinks-button">Popular</a></li>
                <li><a class="menu-button" asp-page="Menu" asp-route-category="hot_coffee" id="hot-coffee-button">Hot Coffee</a></li>
                <li><a class="menu-button" asp-page="Menu" asp-route-category="hot_tea" id="hot-tea-button">Hot Tea</a></li>
                <li><a class="menu-button" asp-page="Menu" asp-route-category="hot_drinks" id="hot-drinks-button">Other Hot Drinks</a></li>
                <li><a class="menu-button" asp-page="Menu" asp-route-category="cold_coffee" id="cold-coffee-button">Cold Coffee</a></li>
                <li><a class="menu-button" asp-page="Menu" asp-route-category="cold_tea" id="cold-tea-button">Cold Tea</a></li>
                <li><a class="menu-button" asp-page="Menu" asp-route-category="cold_drinks" id="cold-drinks-button">Other Cold Drinks</a></li>
            </ul>
        </div>
    </div>
    <div class="col-9">
        <div class="row">
            <h2>Hot Coffee</h2>
        </div>
        <div class="row">
            @foreach (var item in Model.menuItems)
            {
            <div class="col-3 card">
                <div class="card-img-top">
                    <a asp-page="Order" asp-route-id=@item.ID><img src=@item.ImageURL class="menu-item-image" /></a>
                </div>
                <div class="card-text-bottom">
                    <h3><a asp-page="Order" asp-route-id=@item.ID>@item.Name</a></h3>
                    <p>@item.Description</p>
                </div>
            </div>

            }
        </div>
    </div>       
</div>